version: "3.8"

# Needed for auto
#CF_API_KEY: ${CF_API_KEY}

services:
  mc:
    image: itzg/minecraft-server:${IMAGE_TAG:-latest}
    command: /var/log
    restart: unless-stopped
    volumes:
      - /minecraft-data/modpacks:/modpacks:ro
      - /minecraft-data/data:/data
    environment:
      EULA: "true"
      MEMORY: 8G
      VERSION: 1.20.1
      TYPE: CURSEFORGE
      CF_SERVER_MOD: /modpacks/BMC4_FORGE_1.20.1_Server_Pack_v14.zip
      ICON: https://raw.githubusercontent.com/zinefer/gottapunchrocks/master/pve-server-logo.png
      OVERRIDE_ICON: "true"
      MOTD: "Welcome Ho\u00a7kYou Will Die"
      PVP: "false"
      OPS: |
        DocNastyDub
        _zinefer
      WHITELIST: |
        DocNastyDub
        _zinefer
        rothberry
        RayJayP
        Bronco137
        blalex93
        TheWrat
      ALLOW_FLIGHT: "true"
    ports:
      - "25565:25565"
